@font-face {
    font-family: 'SwissNow';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/SwissNow-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SwissNow';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/SwissNow-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'SwissNow';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/SwissNow-Bold.woff2') format('woff2');
}

@tailwind base;
@tailwind utilities;
@tailwind components;

.font-semibold {
    font-family: "SwissNow", sans-serif;
}

.font-bold, h1, h2, h3 {
    font-family: "SwissNow", sans-serif;
}

body {
    font-family: "SwissNow", sans-serif !important;
}