@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proximanova-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proximanova-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@tailwind base;
@tailwind utilities;
@tailwind components;

.font-semibold {
    font-family: "Proxima Nova";
}

.font-bold, h1, h2, h3 {
    font-family: "Proxima Nova";
}
